.signup {
  background-color: rgb(176, 42.4, 55.2);

  .verify-form {
    font-family: "Sawarabi Gothic", sans-serif;
    background-color: rgb(217, 101, 101);
    width: 350px;
    height: 320px;
  }

  .signup-form {
    font-family: "Sawarabi Gothic", sans-serif;
    background-color: rgb(217, 101, 101);
    width: 350px;
    height: 400px;
  }

  .password[type="password"] {
    letter-spacing: -2px; /* Tighten spacing for password dots */
  }

  .password[type="text"] {
    letter-spacing: normal; /* Reset spacing for visible text */
  }

  .password::placeholder {
    letter-spacing: normal; /* Ensure placeholder remains unaffected */
    color: #888;
  }

  button {
    background-color: #dc3545;
  }
}
