.verification {
  background-color: rgb(176, 42.4, 55.2);

  .verification-form {
    font-family: "Sawarabi Gothic", sans-serif;
    background-color: rgb(217, 101, 101);
    width: 400px;
    height: 410px;
  }
}
