@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.basket-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ensures the page always takes the full height of the viewport */
}

.basket-page-container {
  flex: 1; /* Pushes the footer to the bottom by taking up remaining space */
}

.basket-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allows columns to wrap on smaller screens */
}

.basket-items {
  flex: 1;
  max-width: 65%; /* Ensures equal width for both columns */
  box-sizing: border-box; /* Prevents padding from affecting the column width */
}

.empty-basket-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -2rem; /* Move it slightly upwards */
  padding: 2rem; /* Ensure proper spacing around the message */
}

.empty-basket-message p {
  margin-top: 10px; /* Adjust spacing between the icon and the text */
  font-size: 1.2rem; /* Optional: Adjust text size */
  color: grey;
}

.empty-basket-message svg {
  font-size: 3rem; /* Adjust the size of the icon */
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.quantity-control input {
  width: 50px;
  padding: 5px;
  text-align: center;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.checkout-summary {
  flex: 1;
  max-width: 30%; /* Ensures equal width for both columns */
  padding: 15px 0;
  box-sizing: border-box;

  .checkout-button {
    background-color: $red-500;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  .checkout-button:hover {
    background-color: $red-700;
  }
}

footer {
  margin-top: auto; /* Ensures the footer stays at the bottom */
  width: 100%; /* Ensures the footer spans the full width */
}
