@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.notifications-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between notifications */
}

.notification {
  background-color: $cyan-500; /* Green background */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  max-width: 250px;
  opacity: 0;
  transform: translateY(20px); /* Start slightly lower */
  animation: slide-up 0.5s ease-out forwards, fade-out 3s 2s forwards;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Final position */
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
